# Database configuration
POSTGRES_DB=rest_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
DATABASE_URL=postgresql+psycopg://postgres:your_postgres_password@db:5432/rest_app

# JWT configuration
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRATION_SECONDS=3600

# Password reset configuration
RESET_TOKEN_SECRET_KEY=your_password_reset_secret_key_here
RESET_TOKEN_EXPIRATION_SECONDS=1800

# Email configuration
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=your_16_digit_app_password
MAIL_FROM=example@gmail.com
MAIL_PORT=465
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME="HW Support"

# Cloudinary configuration
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=